[submodule "packages/Npy.jl"]
	path = packages/Npy.jl
	url = git@github.com:eric-cyp24/Npy.jl.git
[submodule "packages/LeakageAssessment.jl"]
	path = packages/LeakageAssessment.jl
	url = git@github.com:eric-cyp24/LeakageAssessment.jl.git
[submodule "packages/TemplateAttack.jl"]
	path = packages/TemplateAttack.jl
	url = git@github.com:eric-cyp24/TemplateAttack.jl.git
[submodule "packages/EMAlgorithm.jl"]
	path = packages/EMAlgorithm.jl
	url = git@github.com:eric-cyp24/EMAlgorithm.jl.git
[submodule "packages/BeliefPropagation.jl"]
	path = packages/BeliefPropagation.jl
	url = git@github.com:eric-cyp24/BeliefPropagation.jl.git
