[submodule "packages/LeakageAssessment.jl"]
	path = packages/LeakageAssessment.jl
	url = ../LeakageAssessment.jl/
[submodule "packages/TemplateAttack.jl"]
	path = packages/TemplateAttack.jl
	url = ../TemplateAttack.jl
[submodule "packages/EMAlgorithm.jl"]
	path = packages/EMAlgorithm.jl
	url = ../EMAlgorithm.jl
